@using Microsoft.AspNetCore.Identity
@using PechinchaMarket.Areas.Identity.Data
@model IEnumerable<PechinchaMarket.Models.Loja>
@inject UserManager<PechinchaMarketUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/loja.css" rel="stylesheet" />

<h1 class="small-padding smaller-padding-left">Lojas</h1>

<body>
<a href="@Url.Action("Create", "Lojas")" class="floating-button"></a>

<div class="small-padding small-padding-top">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.UserId == UserManager.GetUserId(User))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpeningTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClosingTime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }           }
        </tbody>
    </table>

</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipall = document.getElementById("tooltip-message-all");
        var tooltipcliente = document.getElementById("tooltip-message-cliente");
        var tooltipcomerciante = document.getElementById("tooltip-message-comerciante");

        tooltipall.innerHTML = "Nesta pagina poderá analisar, editar, criar e eleminar todas as suas lojas.";
        tooltipcliente.innerHTML = "";
        tooltipcomerciante.innerHTML = "";
    });
</script>
