@model PechinchaMarket.Controllers.MyViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.ListaProdutos.name</h4>
<button>editar nome</button>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>
                    Quantidade
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Comerciante
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Localidade
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dl in Model.DetalhesListaProdutos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => dl.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => dl.ProdutoLoja.Produto.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => dl.ProdutoLoja.Loja.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => dl.ProdutoLoja.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => dl.ProdutoLoja.Loja.Address)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <select asp-for="state" class="form-control"></select>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
