@model PechinchaMarket.Models.ListaProdutos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Comerciante> comerciante = ViewData["Comerciante"] as IEnumerable<Comerciante>;

    float totalprice = 0;
}


<script>
    function editName(){
        var title = document.getElementById("title");
        var inputtitle = document.getElementById("inputtitle");
        var changeName = document.getElementById("changename");
        var submit = document.getElementById("submitname");

        inputtitle.style.display = "block";
        title.style.display = "none";
        changeName.style.display = "none";
    }
</script>


<link type="text/css" rel="stylesheet" href="~/css/listedit.css" />

<div class="content">
    <div class="title">
        <form class="title2" asp-action="ChangeName">
            <input type="hidden" asp-for="Id" />
            <input type="text" asp-for="name" id="inputtitle" class="form-control" value="@Model.name" name="name">
            <input type="submit" value="Save" id="submitname" />
        </form>
        <h4 id="title">@Model.name</h4>
        <input type="image" id="changename" onclick="editName()" src="~/images/edit-text.png"/>
    </div>

    <div class="listformatar">
        <div class="list">
            <form id="formDelete" asp-action="DeleteMany">
                <input type="hidden" asp-for="Id" />
            </form>
            <table>
                <thead>
                    <tr>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Produto
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Comerciante
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Localidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.detalheListaProds != null)
                    {
                        foreach (var dl in Model.detalheListaProds)
                        {
                            <tr>
                                <td>
                                    <!--<input type="number" value="@dl.quantity" class="numberselect">-->
                                    @Html.DisplayFor(modelItem => dl.quantity)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => dl.ProdutoLoja.Produto.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => dl.ProdutoLoja.Produto.Brand)
                                </td>
                                <td>
                                    <img class="logo" src='@Url.Action( "show", "listaProdutos", new { id = comerciante.Where(c => c.UserId == dl.ProdutoLoja.Loja.UserId).First().Id })' />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => dl.ProdutoLoja.Price)€
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => dl.ProdutoLoja.Loja.Address)
                                </td>
                                <td>
                                    <input type="checkbox" value="@dl.Id" name="deletes" form="formDelete"/>
                                </td>
                                
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <!-- <input type="submit" />-->
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            Total:
                            @if (Model.detalheListaProds != null)
                            {
                                @foreach (var dl in Model.detalheListaProds)
                                {
                                    totalprice = totalprice + dl.ProdutoLoja.Price;
                                }
                                @totalprice
                                
                            }
                            €
                        </td>
                        <td></td>
                        <td><input form="formDelete" type="image" class="bin" src="~/images/recycle-bin.png" /></td>

                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="formatar">
            <form asp-action="CreateDocument">
                <input type="hidden" asp-for="Id" />
                <h4>Formate a lista ao seu gosto</h4>
                
                Formato do ficheiro
                <div class="formato">
                    
                    <input type="radio" id="pdf" name="ficheiro" value="pdf" checked />
                    <label for="pdf">PDF</label>

                    <input type="radio" id="png" name="ficheiro" value="png" />
                    <label for="png">PNG</label>
                </div>

                
                Formato do conteúdo
                <div class="formato">
                    
                    <input type="radio" id="simples" name="conteudo" value="simples" checked />
                    <label for="simples">Simples</label>

                    <input type="radio" id="ilustrativo" name="conteudo" value="ilustrativo" />
                    <label for="ilustrativo">Ilustrativo</label>

                </div>

                <input type="submit" class="btngerar" value="Gerar Lista" />
            </form>
            
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
