@using System.Drawing
@model PechinchaMarket.Models.Produto

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/produto.css" rel="stylesheet" />

<a class="back" onclick="goBack()"></a>
<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Brand)</h2>

<body class="gradiante2-secondary-color background-height">
    <div class="medium-padding-left medium-padding-top medium-padding">
        <div class="addProductLeft">
            <div style="display:none" id="produtoId">
                @Html.DisplayFor(model => model.Id)
            </div>
            <div class="form-group">
                <label style="font-weight: bold">Nome: </label> 
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="form-group">
                <label style="font-weight: bold">Marca: </label>
                @Html.DisplayFor(model => model.Brand)
            </div>
            <div class="form-group">
                <label style="font-weight: bold">Categoria: </label>
                @Html.DisplayFor(model => model.ProdCategoria)
            </div>
            <label style="font-weight: bold">Imagem: </label>
            <div class="form-group">
                <img id="image_preview" src="@Url.Action("ShowImage", "Produtos", new { id = @Model.Id})" alt="your image" width="250px" height="250px" class="imagePlaceholder" />
            </div>
        </div>
    </div>
    <div class="bottom small-padding-top medium-padding-left">
        <div>
            
            <table class="shopsTable medium-padding-left">
                <h4>Lojas: </h4>
                <thead>
                    <tr>
                        <th>
                            Morada
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Desconto
                        </th>
                        <th>
                            Duração
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProdutoLojas != null)
                    {
                        @foreach (var pl in Model.ProdutoLojas)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => pl.Loja.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => pl.Price)€
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => pl.Discount)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => pl.StartDiscount) - @Html.DisplayFor(modelItem => pl.EndDiscount)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>        
    </div>
</body>
