@model IEnumerable<Tuple<PechinchaMarket.Areas.Identity.Data.PechinchaMarketUser, PechinchaMarket.Models.Comerciante, PechinchaMarket.Models.Loja, PechinchaMarket.Models.ProdutoLoja, PechinchaMarket.Models.Produto>>

@{
    ViewData["Title"] = "Edit";
    IEnumerable<Loja> lojas = ViewData["Lojas"] as IEnumerable<Loja>;
}
<link href="~/css/produto.css" rel="stylesheet" />

<a class="img-back" asp-action="Index"></a>
<h2>Editar Produto</h2>

<body class="gradiante2-secondary-color background-height">
    <div>
        <form asp-action="Edit" enctype="multipart/form-data" class="form">
            <div class="addProduct">
            <div class="addProductLeft">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:none" id="produtoId">
                    @Html.DisplayFor(model => model.FirstOrDefault().Item5.Id)
                </div>
                <div class="form-group">
                        @Html.DisplayFor(model => model.FirstOrDefault().Item5.Name)
                </div>
                <div class="form-group">
                        @Html.DisplayFor(model => model.FirstOrDefault().Item5.Brand)
                </div>
                <div class="form-group">
                    <label>Categoria: </label>
                    @Html.DisplayFor(model => model.FirstOrDefault().Item5.ProdCategoria)
                </div>
                <hr />
                    <div class="precoUnidade form-group">
                        <div class="preco">
                            <input name="price" class="form-control" id="price" onchange="changePrice()" placeholder="€" value="@Model.FirstOrDefault().Item4.Price">
                        </div>
                         €/ 
                        <div class="unidade">
                            @Html.DisplayFor(model => model.FirstOrDefault().Item5.Unidade)
                        </div>
                    </div>
                    <h6>Desconto</h6>
                    <div id="descontos" class="desconto form-group">
                       <div class="">
                            <label for="valor">Valor: </label>
                            <input type="number" id="valor" onchange="changeDiscount()" /> %
                       </div> 
                        <!--<label for="duracao">Duração: </label>
                        <input type="date" id="duracao" onchange="" />-->
                        <div class="duracao">
                            <label for="daterange">Selecione o intervalo de datas:</label>
                            <input type="text" id="daterange" onclick="toggleDatepickers('daterange')" readonly="true" onchange="changeDate()" />

                            <input type="date" id="startDatePicker" style="display: none" onchange="handleDateChange(event)">
                            <input type="date" id="endDatePicker" style="display: none" onchange="handleDateChange(event)">
                        </div>
                        
                    </div>                    
                    <!--<div>
                        <input type="checkbox" id="discounts" onchange="hasDiscount(this)" />
                        <label for="discounts">Desconto</label>
                    </div>-->
                    <div class="form-group">
                        <input type="checkbox" id="shops" onchange="hasShops(this)" />
                        <label for="shops">Personalizar desconto por loja</label>
                    </div>
            </div>
            <div class="addProductRight">
                <div class="form-group">
                        <label>Imagem: </label>
                        <img id="image_preview" src="@Url.Action("Show", "Produtos", new { id = @Model.Select(x => x.Item5.Id).FirstOrDefault()})" alt="your image" width="250px" height="250px" class="imagePlaceholder" />
                        <div class="uploadImage">
                            <input type="file" asp-for="@Model.FirstOrDefault().Item5.Image" class="image" name="file" onchange="readfile(this)" />
                            <span asp-validation-for="@Model.FirstOrDefault().Item5.Image" class="text-danger"></span>
                        </div>
                </div>
            </div>
            </div>
            <div class="bottom">
                <div id="lojas">
                    <table class="shopTable">
                        <thead>
                            <tr>
                                <th>
                                    Morada
                                </th>
                                <th>
                                    Preço
                                </th>
                                <th>
                                    Desconto
                                </th>
                                <th>
                                    Duração 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (lojas != null)
                            {
                                @foreach (Loja l in lojas)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => l.Address)
                                        </td>
                                        <td>
                                            @{
                                                // Preço pela morada
                                                var price = Model.Where(x => x.Item4.Loja.Address == l.Address).Select(x => x.Item4.Price).FirstOrDefault();
                                            }
                                            <input type="number" id="priceInput" name="price" class="prices custom-input" value="@price" /> €
                                        </td>
                                        <td>
                                            <input type="number"  name="discount" class="discount custom-input" /> %
                                        </td>
                                        <td>
                                            <input type="text" id="daterange2" onclick="toggleDatepickers('daterange2')" readonly="true" />

                                            <input type="date" id="startDatePicker2" style="display: none" onchange="handleDateChange(event)">
                                            <input type="date" id="endDatePicker2" style="display: none" onchange="handleDateChange(event)">
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar Alterações" class="btn btn-primary" />
                </div>
            </div>
        </form>
        </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function readfile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function hasShops(input) {
            var x = document.getElementById("lojas")
            if (input.checked == true) {
                x.style.display = "block"
            } else {
                x.style.display = "none"
            }
        }

        function hasDiscount(input) {
            var x = document.getElementById("descontos")
            if (input.checked == true) {
                x.style.display = "block"
            } else {
                x.style.display = "none"
            }
        }

        function changePrice() {
            var p = document.getElementById("price");
            var ps = document.getElementsByClassName("prices")

            for (let item of ps) {
                    item.value = p.value
            }
        }

        function changeDiscount() {
            var v = document.getElementById("valor");
            var d = document.getElementsByClassName("discount")

            for (let item of d) {
                item.value = v.value
            }
        }

        function changeDate() {
            var d = document.getElementById("daterange");
            var dt = document.getElementsByClassName("daterange2")

            for (let item of dt) {
                item.value = d.value
            }
        }

        let startDate = null;
        let endDate = null;

        function toggleDatepickers(inputId) {
            if (inputId === "daterange") {
                toggleSinglePair(startDatePicker, endDatePicker);
            } else if (inputId === "daterange2") {
                toggleSinglePair(startDatePicker2, endDatePicker2);
            }
        }

        function toggleSinglePair(startPicker, endPicker) {
            if (startPicker?.style?.display === "none") {
                startPicker.style.display = "block";
                endPicker.style.display = "block";
            } else {
                startPicker.style.display = "none";
                endPicker.style.display = "none";
            }
        }

        function handleDateChange(event) {
            const selectedDate = event.target.valueAsDate;

            if (event.target.id === "startDatePicker" || event.target.id === "startDatePicker2") {
                handleStartDateChange(selectedDate);
            } else if (event.target.id === "endDatePicker" || event.target.id === "endDatePicker2") {
                const rangeId = event.target.id.includes("startDate") ? "daterange" : "daterange2";
                handleEndDateChange(selectedDate, rangeId);
            }
        }

        function handleStartDateChange(selectedDate) {
            startDate = selectedDate.toLocaleDateString('pt-BR');
        }

        function handleEndDateChange(selectedDate, rangeId) {
            endDate = selectedDate.toLocaleDateString('pt-BR');

            // Atualizar o valor do input para mostrar o intervalo de datas
            document.getElementById(rangeId).value = startDate + " - " + endDate;

            // Esconder os inputs de data correspondentes ao rangeId
            if (rangeId === "daterange") {
                document.getElementById("startDatePicker").style.display = "none";
                document.getElementById("endDatePicker").style.display = "none";
            } else if (rangeId === "daterange2") {
                document.getElementById("startDatePicker2").style.display = "none";
                document.getElementById("endDatePicker2").style.display = "none";
            }
        }

    </script>
}
