@model List<Produto>

@{
    ViewData["Title"] = "Index";
    var counter = 0;

}
<link href="~/css/listaProduto.css" rel="stylesheet" />
<h1>Produtos</h1>

<body>

<div class="container-box"> 
   
        <span class="coluna">
            <h2><a asp-action="Create" id="criar"> Criar Produtos</a></h2>
        </span>

        <span class="coluna">
            <h2><a id ="publicados"> Produtos Publicados</a></h2>
        </span>

        <span class="coluna">
            <h2><a id="pendentes"> Produtos Pendentes</a></h2>
        </span>
            
</div>

    <section class="containers">

    

        <div id="publicados-products" style="display:flex;">
            @foreach (var item in Model.Where(p => p.ProdEstado == Estado.Approved).GroupBy(p => p.Id)
            .Select(g => g.First()))
            {
                <div class="card">

                    <div class="card-image">
                        <img src='@Url.Action( "ShowImage", "Manager", new { id = item.Id})' />
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    <p>@Html.DisplayFor(modelItem => item.Brand)</p>
                    <p>@Html.DisplayFor(modelItem => item.ProdutoLojas.FirstOrDefault().Price)€/@item.Unidade</p>

                    <div class="options">
                        <p><a class="img-edit" asp-action="Edit" asp-route-id="@item.Id"></a> </p>
                        <p><a class="img-trash" onclick="deletePopup(@counter);"></a></p>
                    </div>

                    <div class="new-page display-none" id="delete-popup-@counter">
                        <div class="small-page column-container center-x-flex center-y-flex shrink-flex edges-flex">
                            <div class="edges-flex max-width">
                                <div class="title unselectable-text">Eliminar Produto</div>
                                <div class="cross-button" onclick="deletePopup(@counter);"></div>
                            </div>

                            <div class="column-container max-height  edges-flex max-width">
                                <span class=" small-margin-top">Tem certeza que deseja eliminar este produto?</span>
                                <div class="center-x-flex">
                                    <div class="center-y-flex small-gap-y column-container wrap-flex small-page-product">
                                        <img class="huge-image" src='@Url.Action( "ShowImage", "Manager", new { id = item.Id})' />
                                        <span>@Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Brand)</span>

                                    </div>
                                </div>
                               
                                <div class="row-container right-flex max-width ">
                                    <form asp-action="Delete" asp-route-id=@item.Id >
                                        <button class="pechincha-button  delete-button-color row-container bigger-button" type="submit">Eliminar</button>
                                    </form>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>

                </div>
                counter++;
            }
        </div>

        <div id="pendentes-products" style="display:none;">
            @foreach (var item in Model.Where(p => p.ProdEstado == Estado.InAnalysis).GroupBy(p => p.Id)
            .Select(g => g.First()))
            {
                <div class="card">
                    <div class="card-image">
                        <img src='@Url.Action("ShowImage", "Manager", new { id = item.Id})' />
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    <p>@Html.DisplayFor(modelItem => item.Brand)</p>
                    <p>@Html.DisplayFor(modelItem => item.ProdutoLojas.FirstOrDefault().Price)€/@item.Unidade</p>

                    <div class="options">
                        <p><a class="img-edit" asp-action="Edit" asp-route-id="@item.Id"></a> </p>
                        <p><a class="img-trash" onclick="deletePopup(@counter);"></a></p>
                    </div>

                    <div class="new-page display-none" id="delete-popup-@counter">
                        <div class="small-page column-container center-x-flex center-y-flex shrink-flex edges-flex">
                            <div class="edges-flex max-width">
                                <div class="title unselectable-text">Eliminar Produto</div>
                                <div class="cross-button" onclick="deletePopup(@counter);"></div>
                            </div>

                            <div class="column-container max-height  edges-flex max-width">
                                <span class=" small-margin-top">Tem certeza que deseja eliminar este produto?</span>
                                <div class="center-x-flex">
                                    <div class="center-y-flex small-gap-y column-container wrap-flex small-page-product">
                                        <img class="huge-image" src='@Url.Action( "ShowImage", "Manager", new { id = item.Id})' />
                                        <span>@Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Brand)</span>

                                    </div>
                                </div>

                                <div class="row-container right-flex max-width ">
                                    <form asp-action="Delete" asp-route-id=@item.Id>
                                        <button class="pechincha-button  delete-button-color row-container bigger-button" type="submit">Eliminar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </section>
  
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('publicados').addEventListener('click', function () {
            document.getElementById('publicados-products').style.display = 'flex';
            document.getElementById('pendentes-products').style.display = 'none';
        });

        document.getElementById('pendentes').addEventListener('click', function () {
            document.getElementById('publicados-products').style.display = 'none';
            document.getElementById('pendentes-products').style.display = 'flex';
        });

        function deletePopup(text) {
            document.body.classList.toggle('no-overflow');
            chooseimage = document.getElementById("delete-popup-" + text);
            chooseimage.classList.toggle('display-none');
        }
    </script>
}
