@model PechinchaMarket.Models.Comerciante

@{
    ViewData["Title"] = "DetailsComerciante";
}
<link href="~/css/manager.css" rel="stylesheet" />
<h1>Details</h1>

<div>
    <h4>Comerciante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logo)
        </dt>
        <dd class = "col-sm-10">
             
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.document)
        </dt>
        <dd class = "col-sm-10">
           
        </dd>
    </dl>

</div>
<div class="buttons">
    <form asp-action="Aprove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Aprove" class="approve-button" /> 
    </form>
    <form asp-action="Reprove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Reprove" class="reprove-button" />
        <a asp-action="NonConfirmedList">Voltar atrás</a>
    </form>
   
        
    
</div>
