@model IEnumerable<Tuple<PechinchaMarket.Models.Comerciante, PechinchaMarket.Areas.Identity.Data.PechinchaMarketUser>>

@{
    ViewData["Title"] = "DetailsComerciante";
}
<link href="~/css/produto.css" rel="stylesheet" />
<link href="~/css/produtoDetalhe.css" rel="stylesheet" />


<a class="back" onclick="goBack()"></a>
<h2>Detalhes do Comerciante</h2>

<div class="small-padding-top medium-padding-left">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item2.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item2.Email)
        </dd>
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item1.Name)
        </dd>
        <dt class = "col-sm-2">
            Contato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item1.contact)
        </dd>
        <dt class = "col-sm-2">
            Documento
        </dt>
        <dd class = "col-sm-10">
            <embed src="@Url.Action("ShowDocument", "Manager", new { id = @Model.FirstOrDefault().Item1.Id })" width="fit-content" height="300px" type="application/pdf" />
        </dd>
        <dt class="col-sm-2">
            Logo
        </dt>
        <dd class="col-sm-10">
            <span class="comerciante-logo" style="background-image: url('@Url.Action("ShowLogo", "Manager", new { id = @Model.FirstOrDefault().Item1.Id})');">  </span> <!-- <img src='@Url.Action("ShowLogo", "Manager", new { id = @Model.FirstOrDefault().Item1.Id })' width="fit-content" /> -->
        </dd>
    </dl>

</div>
<div class="buttons-form small-padding-left">
    <form asp-action="Aprove">
        <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().Item1.Id " />
        <input type="submit" value="Aceitar" class="approve-button" />
    </form>
    <form asp-action="Reprove">
        <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().Item1.Id" />
        <input type="submit" value="Recusar" class="reprove-button" />
    </form>
</div>
