@model IEnumerable<Tuple<PechinchaMarket.Models.Comerciante, PechinchaMarket.Areas.Identity.Data.PechinchaMarketUser>>

@{
    ViewData["Title"] = "DetailsComerciante";
}
<link href="~/css/manager.css" rel="stylesheet" />
<h1>Detalhes do Comerciante</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item1.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item2.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item2.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item2.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item2.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Item1.contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.document)
        </dt>
        <dd class = "col-sm-10">
            <!-- View (.cshtml) -->

            <embed src="@Url.Action("ShowDocument", "Manager", new { id = @Model.FirstOrDefault().Item1.Id })" width="50%" height="300px" type="application/pdf" />
           

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.logo)
        </dt>
        <dd class="col-sm-10">
            <!--  @Html.DisplayFor(model => model.FirstOrDefault().Item1.logo) -->
            <img src='@Url.Action( "ShowLogo", "Manager", new { id = @Model.FirstOrDefault().Item1.Id})'   />
        </dd>
    </dl>

</div>
<div class="buttons-form">
    <form asp-action="Aprove">
        <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().Item1.Id " />
        <input type="submit" value="Aprove" class="approve-button" />
    </form>
    <form asp-action="Reprove">
        <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().Item1.Id" />
        <input type="submit" value="Reprove" class="reprove-button" />
        <a class="voltar-button" asp-action="NonConfirmedList">Voltar atrás</a>
    </form>
  
        
    
</div>
