@model IEnumerable<Tuple<PechinchaMarket.Models.Comerciante, PechinchaMarket.Areas.Identity.Data.PechinchaMarketUser>>


@{
    ViewData["Title"] = "NonConfirmedList";
} 
<link href="~/css/manager.css" rel="stylesheet" />
 

<h2>Comerciantes pendentes para aprovação:</h2>
   
    <body>
        <section class="container">
           
                  
         @foreach (var item in Model)
        {
            @if (item.Item1.isApproved == false)
            {  // @Model.FirstOrDefault().Item1.Id}
                <div class="card">

                    <div class="card-image"> <img src='@Url.Action( "ShowLogo", "Manager", new { id = item.Item1.Id

                  })'/> </div>
                    <h2>@Html.DisplayFor(modelItem => item.Item2.UserName)</h2>
                    <p>Email: @Html.DisplayFor(modelItem => item.Item2.Email)</p>
                    <p>Contacto: @Html.DisplayFor(modelItem => item.Item1.contact)</p>
                    <a asp-area="" asp-controller="Manager" asp-action="DetailsComerciante" asp-route-id="@item.Item1.Id"> Details</a>
                </div>

            }
         
            
        }
        
        </section>

    </body>

