@model List<Produto>

@{
    ViewData["Title"] = "Adicionar Produto na Lista";

    IEnumerable<ListaProdutos> listas = ViewData["Listas"] as IEnumerable<ListaProdutos>;
    IEnumerable<Loja> lojas = ViewData["Lojas"] as IEnumerable<Loja>;
    IEnumerable<Produto> produtos = ViewData["ProdutosSemelhantes"] as IEnumerable<Produto>;
    IEnumerable<Comerciante> comerciantes = ViewData["Comerciante"] as IEnumerable<Comerciante>;

}
<link href="~/css/resultadoPesquisa.css" rel="stylesheet" />

<div style="display:none" id="produtoId">
    @Html.DisplayFor(model => model.FirstOrDefault().Id)
</div>
<a class="back" onclick="goBack()"></a>
<div class="row-container center-x-flex center-y-flex screen-height">

    <span class="imagem-produto" style="background-image: url('@Url.Action("ShowImage", "Manager", new { id = @Model.Select(x => x.Id).FirstOrDefault()})');">  </span>
    
    <div class="fit-content-width medium-padding-left">
       <div class="info">
            <div>
               <h3> @Html.DisplayFor(model => model.FirstOrDefault().Name)
                    @Html.DisplayFor(model => model.FirstOrDefault().Brand) -
                    @if (Model.Any())
                    {
                        var userId = Model.Select(x => x.ProdutoLojas.FirstOrDefault().Loja.UserId).FirstOrDefault();
                        var name = comerciantes.Where(c => c.UserId == userId).First().Name;
                        @name
                    }
                </h3>
            </div>

            <div class="discounts">
                @if (ViewBag.PrecoExibicao != null)
                {
                    <span class="discounted-price-text">
                        @ViewBag.PrecoExibicao.ToString()€/@Html.DisplayFor(model => model.FirstOrDefault().Unidade)
                    </span>
                    <span class="price-text">
                        <s>@Html.DisplayFor(model => model.FirstOrDefault().ProdutoLojas.FirstOrDefault().Price.ToString("0.00"))€/ @Html.DisplayFor(model => model.FirstOrDefault().Unidade)</s> <!-- Riscar o preço sem desconto -->
                    </span>
                    <span class="discount-text">
                        Desconto de @Html.DisplayFor(model => model.FirstOrDefault().ProdutoLojas.FirstOrDefault().Discount)%
                    </span>
                }
                else
                {
                    <span class="price-text default">
                        @Html.DisplayFor(model => model.FirstOrDefault().ProdutoLojas.FirstOrDefault().Price)€/@Html.DisplayFor(model => model.FirstOrDefault().Unidade)
                    </span>
                }
            </div>
       </div>
                
        <div class="acoes">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="quantity">
                    <input class="numberstyle" type="number" min="1" max="99" step="1" value="1" id="quantityInput"> @Html.DisplayFor(model => model.FirstOrDefault().Unidade)
                </div>
                                         
                <div>
                    <input name="nome" type="text" id="name" onclick="showListas()" autocomplete="off" placeholder="Nome da Lista"/>
                    <div id="listas" style="display: none">
                        <table class="lista-item" id="item">
                            @foreach (ListaProdutos l in listas)
                            {
                                <tr>
                                    <td onclick="selectLista('@l.name','@l.Id')">
                                        @Html.DisplayFor(modelItem => l.name)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            
                <form asp-action="AddProduct">
                    <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().ProdutoLojas.FirstOrDefault().Id, quantityValue, nameValue" />
                    <input name="nome" type="hidden" id="nameValue"/>
                    <input name="quantityValue" type="hidden" dirname="quantity" id="quantityValue" />
                    <input type="submit" value="Adicionar à lista" class="button-add" onclick="updateQuantity(); updateName()" />
                </form>
            }
            <div>
                <input type="submit" value="Lojas" class="button-shops" onclick="showLojas()" />
            </div>
             
            <div class="lojas" id="lojas">
                <a class="img-close" onclick="showLojas()"></a>
                <h2>Lojas</h2>
                @foreach (Loja l in lojas)
                {
                    <div>
                        @Html.DisplayFor(modelItem => l.Address)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => l.OpeningTime) - @Html.DisplayFor(modelItem => l.ClosingTime)
                    </div>
                    <hr />
                }
            </div>

        </div>

    </div>

</div>
<div class="produtos-semelhantes"
    <div class="items-semelhantes">
        @if(produtos != null)
        {
            @foreach (Produto l in produtos)
            {
                 <div class="produto-semelhante">
                    <a asp-action="AddToList" asp-route-id="@l.Id">
                        <span class="imagem" style="background-image: url('@Url.Action("ShowImage", "Manager", new { id = l.Id})"></span>
                        @Html.DisplayFor(modelItem => l.Name) - @Html.DisplayFor(modelItem => l.Brand)
                    </a>
                </div>
            }
        }        
    </div>
</div>


@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var tooltipall = document.getElementById("tooltip-message-all");
            var tooltipcliente = document.getElementById("tooltip-message-cliente");
            var tooltipcomerciante = document.getElementById("tooltip-message-comerciante");

            tooltipall.innerHTML = "Nesta página, poderá obter os detalhes do produto, bem como adicioná-lo a uma lista desejada.";
            tooltipcliente.innerHTML = "";
            tooltipcomerciante.innerHTML = "";
        });

        function updateQuantity() {
            var quantity = document.getElementById('quantityInput').value;
            document.getElementById('quantityValue').value = quantity;
        }

        function updateName() {
            var name = document.getElementById('name').value;
            document.getElementById('nameValue').value = name;
        }

        function showLojas() {
            var x = document.getElementById("lojas");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function showListas() {
            var x = document.getElementById("listas");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function selectLista(name, id) {
            var x = document.getElementById("name");
            x.value = name;
            showListas();
        }
        
    </script>
}