@model IEnumerable<Tuple<PechinchaMarket.Models.Produto, PechinchaMarket.Models.ProdutoLoja, PechinchaMarket.Models.Loja, PechinchaMarket.Models.Comerciante>>

@{
    ViewData["Title"] = "Adicionar Produto na Lista";
}
<link href="~/css/produtoDetalhe.css" rel="stylesheet" />

<div class="">

    <div class="addProductLeft">
         <span class="imagem-produto" style="background-image: url('@Url.Action("ShowImage", "Manager", new { id = @Model.FirstOrDefault().Item1.Id})');">  </span>
    </div>

    <div class="addProductLeft">
        @Html.DisplayFor(model => model.FirstOrDefault().Item1.Name) - @Html.DisplayFor(model => model.FirstOrDefault().Item4.Name)

        @Html.DisplayFor(model => model.FirstOrDefault().Item2.Price)€/@Html.DisplayFor(model => model.FirstOrDefault().Item1.Unidade)

        <input class="numberstyle" type="number" min="1" max="99" step="1" value="1">
        <form asp-action="AddProduct">
            <input name="id" type="hidden" asp-for="@Model.FirstOrDefault().Item1.Id " />
            <input type="submit" value="Adicionar à lista" class="" />
        </form>
    </div>
    
    <!--Lojas   (deve ser botão, é suposto ser selecionavel ou é só para visualizar)-->

    <!--Zona de produtos semelhantes [produtos com nome parecido/ na mesma categoria/ outra forma?!]
            "card" com imagem do produto, nome e preço/unidade
    -->

</div>