@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Comerciante> comerciante = ViewData["Comerciante"] as IEnumerable<Comerciante>;
}

@model List<Produto>;

<script src="~/js/site.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/home.css" />

<body>
    <div class="background">
        <div class="searchbox">
            <p class="title">Encontre os produtos que procura por mais barato!</p>
            <p>Nós somos uma comunidade com mais de 3000 empresas e milhões de produtos que o ajudam a encontrar o que deseja</p>
            
            <form id="searchForm" method="post" asp-controller="Search" asp-action="search">
                <div class="nav-search-div">
                    <input type="text" id="searchInput" name="searchText" autocomplete="off" />
                    <button type="submit"></button>
                </div>
            </form>
            <ul class="navbar-nav flex-grow-1">
            </ul>
        </div>
    </div>
    @if (User.IsInRole("Cliente"))
    {
        @foreach (var produto in Model)
        {
            <a class="search-result column-container center-y-flex edges-flex" asp-area="" asp-controller="Search" asp-action="AddToList" asp-route-argumentName="@produto.Id" asp-route-id="@produto.Id">
                <span class="search-image" style="background-image: url('@Url.Action( "ShowImage", "Manager", new { id = produto.Id})')"></span>
                <span class="search-name">@produto.Name - @comerciante.Where(c => c.UserId == produto.ProdutoLojas.OrderBy(x => x.Price).FirstOrDefault().Loja.UserId).FirstOrDefault().Name</span>
                <span id="categoria" hidden>@produto.ProdCategoria</span>
                @foreach (var prodLoja in produto.ProdutoLojas)
                {
                    <span class="localizacao" hidden>@prodLoja.Loja.Address</span>
                }
                <span id="brand">@produto.Brand</span>
                <span>
                    @if (@produto.ProdutoLojas.OrderBy(x => x.Price).FirstOrDefault().Discount > 0)
                    {
                        var precoOriginal = @produto.ProdutoLojas.FirstOrDefault().Price;
                        var desconto = (@produto.ProdutoLojas.OrderBy(x => x.Price).FirstOrDefault().Discount) / 100;
                        var precoComDesconto = precoOriginal * (1 - desconto);
                        <span><span id="price">@precoComDesconto</span>€/@produto.Unidade</span>
                    }
                    else
                    {
                        <span>
                            <span id="price">@produto.ProdutoLojas.OrderBy(x => x.Price).FirstOrDefault().Price.ToString()</span>€/@produto.Unidade
                        </span>
                    }
                </span>
            </a>
        }
    }
    <div class="gradiante2-main-color">
        
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded",
        tooltipmsg("Bem-vindo a nossa plantaforma, esta é nossa pagina principal", "", "")
    );
</script>

